/* Light Mode (default) */
body {
 overflow-x: hidden;

}
  .casual {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: white;
}
.content-box {
  padding: 20px;
  border: 2px solid black;
  text-align: center;
  color: black;
}


header {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 99;
  border: 2px solid black;
}

header .header-logo {
  text-align: center;
  margin-top: 10px;
  padding-left: 10px;
  float: left;
}

header .header-brand {
  font-family: Catamaran;
  font-size: 24px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  margin: 31px 0;
  text-align: left;
  line-height: 38px;
  border-right: 3px solid #000;
  padding: 0 20px 0 5px;
  float: left;
}

header .header-brand:hover {
  text-decoration: none;
}

header nav ul {
  display: flex;
  padding: 0;
  margin: 20px 0px 0px 20px;
  float: left;
}

header nav ul li {
  list-style: none;
  padding: 0 16px;
  line-height: 60px;
}

header nav ul li a {
  font-family: Catamaran;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

header nav ul li:hover,
header nav ul li:hover a {
  text-decoration: none;
  color: #000;
  background-color: #333;
  line-height: 60px;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 30%;
  text-align: center;
  padding: 5px;
  background-color: #abbaba;
  color: #fff;
}


/* Dark Mode */
.dark-mode { /* main content */
  background-color: black;
  color: white;
}

.dark-mode .content-box {
  border: 2px solid white;
  color: white;
}

.dark-mode header {
  background: #000;
  border: 2px solid white;
}

.dark-mode header .header-brand {
  color: white;
  border-right: 3px solid #fff;
}

.dark-mode header nav ul li a {
  color: white;
}

.dark-mode label {
  border: 2px solid #fff;
}

  

/*
.dark-mode footer {
  background-color: black; // Will put it back someday
  color: white;
}
*/


    body .term{
      font-family: monospace;
      margin: 0;
      padding: 0;
      background-color: #2d2d2d;
      color: #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    .terminal-window {
      width: 80%;
      max-width: 600px;
      height: 60%;
      max-height: 400px;
      overflow: auto;
      border: 2px solid #757575;
      border-radius: 8px;
      padding: 10px;
      background-color: #23252E;
    }

    .terminal-output {
      margin-bottom: 10px;
      overflow-y: hidden;
      max-height: calc(100% - 40px);
      color: #fff;
    }

    .terminal-line {
      margin-bottom:10px;
      
    }

    .help-msg {
      color: #4caf50;
    }
    .cl{
      color: #fff;
    }

    .code {
      color: #e0e0e0;
    }

    .id,
    .pc-name,
    .directory{
      color: #277BF5; /* text color mate */
    }
    .user-input {
      color: #F5F5F5;
    }

    .dummy-keyboard {
      opacity: 0;
      position: absolute;
    }


    input {
      width: calc(100% - 20px);
      padding: 5px;
      font-family: monospace;
      color: #e0e0e0;
      background-color: transparent;
      border: none;
      outline: none;
    }

    input:focus {
      border: none;
      outline: none;
    }
